#headshot {
    width: 300px;
    height: 400px;
    
}
#card1 {
    text-align: center;
    float: right;
    margin: 3px;
}
#card2 {
    float: right;
    float: right;
    margin: 3px;
    text-align: center;
}
#card3 {
    float: right;
    float: right;
    margin: 3px;
    text-align: center;
}
#card4 {
    float: right;
    float: right;
    margin: 3px;
    text-align: center;
}
#button2 {
    background-color: slategray;
    font-size: 24px;
    width: 100px;
    border: 7px;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}
#button1 {
    background-color: slategray;
    font-size: 24px;
    width: 100px;
    border: 7px;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}